# Virtual environments
venv/
.venv/

# Environment variables
.env

# Logs
logs/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
AI_TRAVEL_AGENT.egg-info/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

docs/